<!DOCTYPE html>
<html lang="en-us">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Name AI</title>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- Google Fonts Link For Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- <script src="{{url_for('static', filename='js/script.js')}}" defer></script> -->
        <script src="static/js/script.js" defer></script>
    </head>

    <body>
        <div class="chatbot">

            <header>
                <h2>no_name.ai</h2>
                <p>Ask me anything !</p>
            </header>

            <ul class="chatbox">
                <li class="chat incoming">
                    <p>Hi there <br> How can I help you ? </p>
                </li>
            </ul>

            <div class="chat-input">
                <textarea placeholder="Enter Your Message..." wrap="hard"></textarea>
                <span id="send-btn" class="material-symbols-outlined">send</span>
            </div>
        </div>
    </body>

</html>